<td><%= target.number %></td>
<td>
  <%= link_to target do %>
    <div class="thumbnail">
      <%= image_tag img_url(target.img_url_url(:thumb_medium)) %>
        <div class="caption">
            <h3><%= target.name %></h3>
        </div>
    </div>
  <% end %>
</td>
<td><%= format_date target.birthday %></td>
<td><%= target.address %></td>
<td><%=  format_date target.start_work_time %></td>
<td align="center">
  <br>
  <%= link_to reset_staff_path(target),:class=>"btn btn-primary",:remote=>true do%>
    <i class="icon-random"></i>重置密码
  <% end %>
  <br><br>
  <%= link_to edit_staff_path(target),:class => "btn btn-info" do %> 
     <i class="icon-edit"> </i> 修改
  <% end %><br><br>
  <%= link_to target, method: :delete,:class=>"btn btn-inverse", data: { confirm: '你确定要删除吗?' } do %>
     <i class="icon-trash"> </i> 删除
  <% end %>
</td>