<div class="page-header">
    <h3><%= @category.name %></h3>
</div>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
  	<% i=0 %>
  	<% @products_group.each do |brand,products| %>
  	    <% if i==0 %>
  	        <li class="active"><a href="#<%= brand.id %>" data-toggle="tab">
  	        	<%= brand.name %>
  	        </a></li>
  	    <% else %>
  	        <li><a href="#<%= brand.id %>" data-toggle="tab">
  	        	<%= brand.name %>
  	        </a></li>
  	    <% end %>
	    <% i+=1 %>
    <% end %>
  </ul>
  <div class="tab-content" id="p_group" >
    <%= render "say/products2",:target=>@products_group %>
  </div>
</div>

<%= render "say/model" %>