<div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav">
        <li><a href="/staffs/<%=session[:staff_id] %>"><i class="icon-chevron-right"></i> 基本信息</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            员工管理
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to staffs_path do %><i class="icon-chevron-right"></i>员工清单<% end %>
            </li>
            <li>
              <%= link_to new_staff_path do %><i class="icon-chevron-right"></i>增加员工 <% end %>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            会员管理
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">

            <li><a href="/users"><i class="icon-chevron-right"></i>会员清单</a></li>
            <li>
              <%= link_to new_user_path do %><i class="icon-chevron-right"></i>增加会员<% end %>
            </li>
            <li><a href="/members"><i class="icon-chevron-right"></i>会员类型</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            商品管理
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/units"><i class="icon-chevron-right"></i>单位清单</a></li>
            <li><a href="/brands"><i class="icon-chevron-right"></i>品牌清单</a></li>
            <li><a href="/categories"><i class="icon-chevron-right"></i>产品清单</a></li>
            <li><a href="/products"><i class="icon-chevron-right"></i>商品清单</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            库存管理
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/products/query"><i class="icon-chevron-right"></i>库存查询</a></li>
            <li><a href="/products/pre_check"><i class="icon-chevron-right"></i>库存盘点</a></li>
            <li><a href="/products/low_stack"><i class="icon-chevron-right"></i>库存下线报警</a></li>
            <li><a href="/products/add_product"><i class="icon-chevron-right"></i>进货</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            销售管理
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/orders"><i class="icon-chevron-right"></i>预定清单</a></li>
            <li><a href="/sells"><i class="icon-chevron-right"></i>销售清单</a></li>
            <li>
              <a href="/applications/see_staff"><i class="icon-chevron-right"></i>申请清单</a>
            </li>
            <li><a href="/repurchases"><i class="icon-chevron-right"></i>退货清单</a></li>
            <li><a href="/sells/total_staff_sell"><i class="icon-chevron-right"></i>销售额清单</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            报表管理
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/chart/cate_chart"><i class="icon-chevron-right"></i>产品销售图表</a></li>
             <li><a href="/chart/brand_chart"><i class="icon-chevron-right"></i>品牌销售图表</a></li>

            <li><a href="/chart/staff_chart"><i class="icon-chevron-right"></i>员工销售图表</a></li>
            
            <li>
              <a href="/sells/total_staff_all_sell"><i class="icon-chevron-right"></i>员工销售清单</a>
            </li>
          </ul>
        </li>
        <%=render "share/li_menu" %>
      </ul>
    </div>

    <div class="span9">
      <%= yield %>
    </div><!--end span9-->