<td><%= target.sell.id %></td>
  <td>
    <a class="tile wide imagetext wideimage" href="/products/<%= target.id %>">
      <%= image_tag img_url(target.sell.product.img_url),:class=>"img-rounded" %>
      <div class="textover-wrapper">
        <div class="text2"><%= target.sell.product.name %></div>
      </div>
    </a>
  </td>
  <td><%= t_app_type target.app_type %></td>
  <td><%= format_date target.created_at %></td>
  <td><%= t_stutas target.is_handle %></td>
  <td><%= target.user.number %></td>
  <td><%= target.user.name %></td>
  <td align="center">
    <% if !target.is_handle %>
       <%= link_to target, method: :delete,:remote=>true,:class=>"btn btn-danger", data: { confirm: '是否真的要取消订单?' } do%>
        <i class="icon-trash"></i>取消申请
       <%end%>
    <% else %>
      <span class="label label-success">已处理不能操作！</span>
    <% end %>
    <br>
    
  </td>