<div id="myCarousel" class="carousel slide" align="center">
  <div class="carousel-inner">
    <% if !@products1.blank? %>
     <% i=0 %>
      <% @products1.each do |product| %>
        <% if i==0 %>
          <div class="item active" >
            <%= link_to show_product_say_path(product) do %>
              <%= image_tag(img_url(product.img_url_url(:thumb_large)),:class=>"img-polaroid") %>
              <div class="carousel-caption">
                <h4><%= product.name %></h4>
                <p><%= product.summary || "没有填写商品简介"%></p>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="item " >
            <%= link_to show_product_say_path(product) do %>
              <%= image_tag(img_url(product.img_url_url(:thumb_large)),:class=>"img-polaroid") %>
              <div class="carousel-caption">
                <h4><%= product.name %></h4>
                <p><%= product.summary || "没有填写商品简介"%></p>
              </div>
            <% end %>
          </div>
        <% end %>
         <% i+=1 %>
      <% end %>
    <% end %>
   </div>
   <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
   <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>

</div>




<div align="center">
  <form class="form-search">
    <div class="input-append">
      <input type="text" class="span4 search-query" placeholder="关键字">
      <select class="span1">
        <option>品牌</option>
        <option>产品</option>
      </select>
      <button type="submit" class="btn">搜索</button>
    </div>
  </form>

</div>


<div class="row">
  <div class="span4">
    <h2>品牌街</h2>
    <ol>
      <% if !@brands.blank? %>
        <% @brands.each do |brand| %>
          <li>
            <%= link_to find_p_by_brand_say_path(brand) do %>
              <%= image_tag img_url(brand.imgurl_url(:thumb_large))%>
            <% end %> 
          </li><br>
        <% end %>
        
      <% end %>
    </ol>
  </div>

  <div class="span4">
    <h2>产品街</h2>
    <ol>
      <% if !@categories.blank? %>
        <% @categories.each do |c| %>
          <li>
            <%= link_to find_p_by_category_say_path(c) do %>
              <%= image_tag img_url(c.imgurl_url(:thumb_medium))%>
            <% end %> 
          </li><br>
        <% end %> 
      <% end %>
    </ol>
  </div>
  <div class="span4" align="left">
    <h2>热卖榜</h2>
    <ol>
      <% if !@products2.blank? %>
        <% @products2.each do |p| %>
          <li>
            <%= link_to show_product_say_path(p) do %>
              <%= image_tag img_url(p.img_url_url(:thumb_medium))%><br>
              <span><%= p.name %></span>
              <span style="color:red">销售量：<span class="badge badge-success"> <%= format_data p.sales_volume %> </span> <%=p.unit.name %> </span>
            <% end %> 
          </li><br>
        <% end %> 
      <% end %>
    </ol>
  </div>

</div>
<hr>
