<%= form_for(@acount) do |f| %>
  <% if @acount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acount.errors.count, "error") %> prohibited this acount from being saved:</h2>

      <ul>
      <% @acount.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hash_url %><br />
    <%= f.text_field :hash_url %>
  </div>
  <div class="field">
    <%= f.label :u_id %><br />
    <%= f.number_field :u_id %>
  </div>
  <div class="field">
    <%= f.label :acount_type %><br />
    <%= f.number_field :acount_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
