 <td><%= target.number %></td>
 <td>
    <a class="tile wide imagetext wideimage" href="/products/<%= target.id %>">
      <%= image_tag img_url(target.img_url_url(:thumb_medium)), :class=>"img-rounded"%>
      <div class="textover-wrapper">
        <div class="text2"><%= target.name %></div>
      </div>
    </a>
  </td>
  <td><%= target.brand.name %></td>
  <td><%= target.category.name %></td>
  <td><%= target.stock_quantity %></td>
  <td align="center">
      <br>         
      <a href="<%= target.id %>/check" data-target="#myModal" data-remote="true" role="button" class="btn btn-success" data-toggle="modal">
      <i class=" icon-inbox"></i>盘点</a>   
  </td>