
<div class="page-header">
  <h3>商品清单</h3>
</div>
  <div align="right">
     <%= form_for @search, :remote => true,:url => products_url, :html => {:method => :get} do |f| %>
      商品编号：<%= f.search_field :number_contains,:class=>"input-medium search-query",:placeholder=>"搜索" %>
      商品名：<%= f.search_field :name_contains,:class=>"input-medium search-query",:placeholder=>"搜索" %>
      <%= f.submit "查找",:class =>"btn" %>
    <% end %>

  </div>
<div>
  <div align="right">
    <%= link_to new_product_path, :class=>"btn btn-success btn-large" do %>
      <i class="icon-plus"></i>添加
    <% end %>
  </div>
  <% if @products.blank?%>
     <blockquote>
       <p>还没有数据，赶紧去添加吧.</p>
     </blockquote>
  <% else %>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>商品编号</th>
        <th>商品</th>
        <th>简介</th>
        <th>品牌</th>
        <th>产品</th>
        <th>商品状态</th>
        <th>预售价</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody id="search">
        <%= render @products,:locals => {:i=>0,:lay=>1} %>           
      </tbody>
    </table>
    <div id="page" class="pagination">
        <%= paginate @products %>
    </div>
  <% end %>
</div>


