<!DOCTYPE html>
<html>
<head>
  <title>家电商场销售管理系统</title>

  <%= stylesheet_link_tag params[:controller], :media => "all" %>
  <%= javascript_include_tag params[:controller] %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'docs' %>
  <%= stylesheet_link_tag 'bootstrap-responsive' %>
  <%= stylesheet_link_tag 'scaffolds' %> 
  <%= stylesheet_link_tag 'validationEngine.jquery' %>
  <%= stylesheet_link_tag 'template' %> 

  <%= stylesheet_link_tag 'jquery.jqChart' %>
  <%= stylesheet_link_tag 'jquery.jqRangeSlider' %> 
 
 
  <%= csrf_meta_tags %>


   
 
  <link rel="stylesheet" type="text/css" href="/assets/google-code-prettify/prettify.css" >
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">家电商场销售管理系统</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="/welcome/index"><i class="icon-home"></i>首页</a></li>
          <% if session[:staff_id] || session[:user_id] %>
             <li><a href="/admin/index"> <i class="icon-star-empty"></i> 个人中心</a></li>
          <% else %>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                品牌
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% Brand.all.each do |brand| %>
                  <li>
                    <%= link_to find_p_by_brand_say_path(brand) do%>
                     <%= brand.name%><i class="icon-chevron-right"></i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                产品
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% Category.all.each do |category| %>
                  <li>
                    <%= link_to find_p_by_category_say_path(category) do%>
                     <%= category.name%><i class="icon-chevron-right"></i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>

          <% end %>
        </ul>
        <% if session[:staff_id] %>
            <span class="pull-right">
              <strong><%= Staff.find_by_id(session[:staff_id]).name %></strong>
              <a href="/sessions/destroy">
                <button class="btn btn-danger" type="button">退出</button>
              </a>
            </span>
        <% elsif session[:user_id] %>
          <span class="pull-right">
              <strong><%= User.find_by_id(session[:user_id]).name %></strong>
              <a href="/sessions/destroy_user">
                <button class="btn btn-danger" type="button">退出</button></a>
          </span>
        <% else %>
            <form action="/sessions/create_user" class="navbar-form pull-right" method="post">
              <input class="span2" type="text" name="number" placeholder="会员编号/邮箱/手机号码">
              <input class="span2" type="password" name="password" placeholder="密码">

              <button type="submit" class="btn">登录</button>

            </form>
            <a href="/sessions/new" class="btn btn-danger">管理员登录</a>
        <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
  <% if session[:staff_id] == nil && session[:user_id] == nil %>
    <%= yield %>
  <% elsif session[:user_id] %><!--用户登录后的模版-->
    <%= render "share/user_logLayout" %>    
  <!--管理员的布局-->
  <% elsif session[:staff_id] != nil && Staff.find_by_id(session[:staff_id]).staff_type ==1 %>

     <%= render "share/staff_manager" %>
    <!--员工的布局-->
  <% elsif session[:staff_id] != nil && Staff.find_by_id(session[:staff_id]).staff_type ==2 %>
    <%= render "share/staff2" %>

  <% end %>
  
  </div>
  <footer align="center">
    <p>&copy; Company 2012</p>
  </footer>

</div>
 <%= javascript_include_tag 'application' %>
 <%= javascript_include_tag 'google-code-prettify/prettify' %>
 <%= javascript_include_tag 'holder' %>
 <%= javascript_include_tag 'jquery.validationEngine' %>
 <%= javascript_include_tag 'jquery.validationEngine-zh_CN' %>
 <%= javascript_include_tag 'jquery.html5-fileupload' %>
 <%= javascript_include_tag 'jquery.jqChart.min' %>
 <%= javascript_include_tag 'jquery.jqRangeSlider.min' %>
 

<script type="text/javascript">

 $(document).ready(function() { 

    $("#c_id").change(function(){
      var c_id = $('#c_id').find("option:selected").val();
      getProductBycate(c_id);
    });

    $("#b_id").change(function(){
      var b_id = $('#b_id').find("option:selected").val();
      getProductByBrand(b_id);
    });

 });

  $(document).ready(function() { 
  
   $("#form_validator").validationEngine();
   
  });

  $('.date').datepicker({"format": "yyyy-mm-dd"});

  

  $('#getUser').click(function(){ 
     $.ajax({
          type: "post",
          url: "/users/query_by_number",
          dataType:"json",
          data:{
                 uid : $('#uid').val()   
          },
          success: function(data, textStatus){
            if(data != null){
              html1='';
              html1+=' <div class="control-group"><label class="control-label" for="inputEmail">会员姓名</label>';
              html1 += '<div class="controls"><span class="input-xlarge uneditable-input">'+data.name+'</span></div>';
              html1+='</div>';
              html1+='<div class="control-group"><label class="control-label" for="inputEmail">会员类型</label>';
              html1+='<div class="controls"><span class="input-xlarge uneditable-input">'+data.member_id+'</span>';
              html1+='</div>';
              $('#user1').empty().html(html1);
                if(data.integral>0||data.integral!=null){

                 html2="";
                 html2+='<div class="control-group"><label class="control-label" for="inputEmail">'
                 html2+='输入积分</label><div class="controls">';
                 html2+='<input class="span2 validate[required,custom[number]] " name="integral" type="text" >(你的可用积分为'
                 html2+='<b style="color:#F00">'+data.integral+'</b>分)</div></div>';
                 $('#user2').html(html2);

                }
             }else{
              alert("你输入的用户编号不存在");
             }
             
           
          },
          complete: function(XMLHttpRequest, textStatus){
            //HideLoading();
          },
          error: function(){
            alert("error");
          }
       });
   });

$("#pic_s").bind("click",func)

function func(){
     //$("#pic_s").unbind('click');
     //$("#pic_s").bind('click', arguments.callee);
     $("#pic").unbind();
   $("#pic").click();
     opts ={
              url : "/photos",
              type : "POST",
              beforeSend : function(){
                $("#pic_s").hide();
                $("#pic_s").before("<span class='loading'>上传中...</span>");
              },
              success : function(result, status, xhr){
                 $("#pic_s").parent().find("span").remove();
                 $("#pic_s").show();

                 $("#add_pic").html($("#add_pic").html()+"<div><i class='icon-picture'></i>上传成功</div>");
                 var imgurl=$('#imgurl').val()
                 $('#imgurl').attr("value",imgurl+";"+result)
                 //alert(result)
                 //appendImageFromUpload(result);
              }   
           }
       $("#pic").fileUpload(opts)
       return false

}

function appendImageFromUpload(srcs){
  var txtBox = $("#editor")
  var cursurPosition=-1;
  cursurPosition= txtBox.selectionStart;
  //if(txtBox.selectionStart){//非IE浏览器
     // cursurPosition= txtBox.selectionStart;
  //}else{//IE
     // var range = document.selection.createRange();
          //range.moveStart("character",-txtBox.value.length);
               // cursurPosition=range.text.length;
  //}
    //cursurPosition = cursurPosition==0?1:cursurPosition;
    alert(txtBox.value)
    var str = txtBox.value.substring(0,cursurPosition-1);
    var str1=txtBox.value.substring(cursurPosition);

 var src_merged = ""
 for(src in srcs){
   src_merged = "![](#{src})\n"
 }

  txtBox.val(str + src_merged + str1)
  //txtBox.caretPos(caret_pos+src_merged.length)
  txtBox.focus()
}


//通过产品id得到该产品所有的商品

    function getProductBycate(c_id){

       $.ajax({
          type: "post",
          url: "/chart/find_product_by_cate",
          dataType:"json",
          data:{
                 c_id : c_id    
          },
          success: function(data, textStatus){
            var html='<select name="p_id"><option value="0">请选择商品</option>';
           
            for(var i=0;i<data.length;i++){
               html+='<option value='+data[i].id+'>'+data[i].name+'</option>'
            }
            html+="</select>"
            $("#product").empty();
            $("#product").append(html);
                   
          },
          complete: function(XMLHttpRequest, textStatus){
            //HideLoading();
          },
          error: function(){
            //请求出错处理
          }
       });


    };

  //结束---通过产品id得到该产品所有的商品---方法


  //通过品牌id得到该产品所有的商品

    function getProductByBrand(b_id){

       $.ajax({
          type: "post",
          url: "/chart/find_product_by_brand",
          dataType:"json",
          data:{
                 b_id : b_id    
          },
          success: function(data, textStatus){
            var html='<select name="p_id"><option value="0">请选择商品</option>';
           
            for(var i=0;i<data.length;i++){
               html+='<option value='+data[i].id+'>'+data[i].name+'</option>'
            }
            html+="</select>"
            $("#product").empty();
            $("#product").append(html);
                   
          },
          complete: function(XMLHttpRequest, textStatus){
            //HideLoading();
          },
          error: function(){
            //请求出错处理
          }
       });


    };

  //结束---通过品牌id得到该产品所有的商品---方法





</script>

</body>
</html>
